<?xml version="1.1" ?>
<settings>
    <global>
        <debug>false</debug>
        <delay>0.75</delay>
        <display>
            <bg>
                <alpha>192</alpha>
                <blue>0</blue>
                <green>0</green>
                <red>0</red>
                <visible>true</visible>
            </bg>
            <flags>
                <bold>false</bold>
                <bottom>false</bottom>
                <draggable>true</draggable>
                <italic>false</italic>
                <right>false</right>
            </flags>
            <padding>3</padding>
            <pos>
                <x>20</x>
                <y>360</y>
            </pos>
            <text>
                <alpha>255</alpha>
                <blue>255</blue>
                <font>Arial</font>
                <fonts>

                </fonts>
                <green>255</green>
                <red>255</red>
                <size>8</size>
                <stroke>
                    <alpha>255</alpha>
                    <blue>0</blue>
                    <green>0</green>
                    <red>0</red>
                    <width>0</width>
                </stroke>
            </text>
        </display>
        <fern>true</fern>
        <pellucid>true</pellucid>
        <profiles>
            <chironic>
                <1>
                    <1>
                        <name>double attack</name>
                        <val>3</val>
                    </1>
                </1>
            </chironic>
            <colada>
                <1>
                    <1>
                        <name>double attack</name>
                        <val>2</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </1>
                <2>
                    <1>
                        <name>dex</name>
                        <val>10</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </2>
                <3>
                    <1>
                        <name>accuracy</name>
                        <val>15</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </3>
                <4>
                    <1>
                        <name>critical hit rate</name>
                        <val>2</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </4>
                <5>
                    <1>
                        <name>weapon skill damage</name>
                        <val>2</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </5>
                <6>
                    <1>
                        <name>store tp</name>
                        <val>3</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </6>
                <7>
                    <1>
                        <name>attack</name>
                        <val>15</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </7>
                <8>
                    <1>
                        <name>str</name>
                        <val>10</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </8>
            </colada>
            <default>

            </default>
            <gada>
                <1>
                    <1>
                        <name>enh. mag. eff. dur.</name>
                        <val>3</val>
                    </1>
                </1>
            </gada>
            <grio>
                <1>
                    <1>
                        <name>magic accuracy</name>
                        <val>20</val>
                    </1>
                    <2>
                        <name>mnd</name>
                        <val>15</val>
                    </2>
                </1>
                <2>
                    <1>
                        <name>magic accuracy</name>
                        <val>20</val>
                    </1>
                    <2>
                        <name>magic attack bonus</name>
                        <val>20</val>
                    </2>
                    <3>
                        <name>int</name>
                        <val>15</val>
                    </3>
                </2>
                <3>
                    <1>
                        <name>magic accuracy</name>
                        <val>20</val>
                    </1>
                    <2>
                        <name>magic attack bonus</name>
                        <val>20</val>
                    </2>
                    <3>
                        <name>mp</name>
                        <val>80</val>
                    </3>
                </3>
            </grio>
            <herc>
                <1>
                    <1>
                        <name>triple attack</name>
                        <val>3</val>
                    </1>
                    <2>
                        <name>accuracy</name>
                        <val>15</val>
                    </2>
                    <3>
                        <name>attack</name>
                        <val>15</val>
                    </3>
                </1>
                <2>
                    <1>
                        <name>str</name>
                        <val>10</val>
                    </1>
                    <2>
                        <name>accuracy</name>
                        <val>15</val>
                    </2>
                    <3>
                        <name>attack</name>
                        <val>15</val>
                    </3>
                </2>
                <3>
                    <1>
                        <name>critical hit damage</name>
                        <val>3</val>
                    </1>
                    <2>
                        <name>accuracy</name>
                        <val>15</val>
                    </2>
                    <3>
                        <name>attack</name>
                        <val>15</val>
                    </3>
                </3>
                <4>
                    <1>
                        <name>dex</name>
                        <val>10</val>
                    </1>
                    <2>
                        <name>accuracy</name>
                        <val>15</val>
                    </2>
                    <3>
                        <name>attack</name>
                        <val>15</val>
                    </3>
                </4>
                <6>
                    <1>
                        <name>weapon skill damage</name>
                        <val>4</val>
                    </1>
                    <2>
                        <name>accuracy</name>
                        <val>15</val>
                    </2>
                    <3>
                        <name>attack</name>
                        <val>15</val>
                    </3>
                </6>
                <7>
                    <1>
                        <name>damage taken</name>
                        <val>-4</val>
                    </1>
                </7>
                <8>
                    <1>
                        <name>store tp</name>
                        <val>4</val>
                    </1>
                    <2>
                        <name>accuracy</name>
                        <val>15</val>
                    </2>
                    <3>
                        <name>attack</name>
                        <val>15</val>
                    </3>
                </8>
            </herc>
            <kanaria>
                <1>
                    <1>
                        <name>triple attack</name>
                        <val>2</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </1>
                <2>
                    <1>
                        <name>dex</name>
                        <val>10</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </2>
                <3>
                    <1>
                        <name>accuracy</name>
                        <val>15</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </3>
                <4>
                    <1>
                        <name>critical hit damage</name>
                        <val>4</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </4>
                <5>
                    <1>
                        <name>weapon skill damage</name>
                        <val>2</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </5>
                <6>
                    <1>
                        <name>store tp</name>
                        <val>3</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </6>
                <7>
                    <1>
                        <name>attack</name>
                        <val>15</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </7>
                <8>
                    <1>
                        <name>str</name>
                        <val>10</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </8>
                <9>
                    <1>
                        <name>agi</name>
                        <val>10</val>
                    </1>
                    <2>
                        <name>dmg</name>
                        <val>10</val>
                    </2>
                </9>
            </kanaria>
            <merl>
                <1>
                    <1>
                        <name>int</name>
                        <val>10</val>
                    </1>
                    <2>
                        <name>magic attack bonus</name>
                        <val>20</val>
                    </2>
                </1>
                <2>
                    <1>
                        <name>magic accuracy</name>
                        <val>20</val>
                    </1>
                    <2>
                        <name>magic attack bonus</name>
                        <val>20</val>
                    </2>
                </2>
                <3>
                    <1>
                        <name>magic burst damage</name>
                        <val>5</val>
                    </1>
                    <2>
                        <name>magic attack bonus</name>
                        <val>20</val>
                    </2>
                </3>
                <4>
                    <1>
                        <name>fast cast</name>
                        <val>6</val>
                    </1>
                </4>
            </merl>
        </profiles>
        <style>melee</style>
        <taupe>true</taupe>
    </global>
</settings>
