<?xml version="1.1" ?>
<settings>
    <global>
        <setmode>PreserveTraits</setmode>
        <setspeed>0.65</setspeed>
        <spellsets>
            <acc>
                <slot01>barbed crescent</slot01>
                <slot02>delta thrust</slot02>
                <slot03>erratic flutter</slot03>
                <slot04>fantod</slot04>
                <slot05>frenetic rip</slot05>
                <slot06>thrashing assault</slot06>
                <slot07>anvil lightning</slot07>
                <slot08>sudden lunge</slot08>
                <slot09>vanity dive</slot09>
                <slot10>disseverment</slot10>
                <slot11>paralyzing triad</slot11>
                <slot12>magic fruit</slot12>
                <slot13>empty thrash</slot13>
                <slot14>heavy strike</slot14>
                <slot15>dimensional death</slot15>
                <slot16>sinker drill</slot16>
                <slot17>occultation</slot17>
                <slot18>nat. meditation</slot18>
                <slot19>cocoon</slot19>
                <slot20>winds of promy.</slot20>
            </acc>
            <avatar>
                <slot01>barbed crescent</slot01>
                <slot02>delta thrust</slot02>
                <slot03>erratic flutter</slot03>
                <slot04>fantod</slot04>
                <slot05>zephyr mantle</slot05>
                <slot06>occultation</slot06>
                <slot07>magic fruit</slot07>
                <slot08>thrashing assault</slot08>
                <slot09>anvil lightning</slot09>
                <slot10>sudden lunge</slot10>
                <slot11>molting plumage</slot11>
                <slot12>diffusion ray</slot12>
                <slot13>paralyzing triad</slot13>
                <slot14>empty thrash</slot14>
                <slot15>heavy strike</slot15>
                <slot16>sweeping gouge</slot16>
                <slot17>sinker drill</slot17>
                <slot18>nat. meditation</slot18>
                <slot19>cocoon</slot19>
            </avatar>
            <belph>
                <slot01>fantod</slot01>
                <slot02>barbed crescent</slot02>
                <slot03>diamondhide</slot03>
                <slot04>thrashing assault</slot04>
                <slot05>anvil lightning</slot05>
                <slot06>sudden lunge</slot06>
                <slot07>delta thrust</slot07>
                <slot08>erratic flutter</slot08>
                <slot09>molting plumage</slot09>
                <slot10>diffusion ray</slot10>
                <slot11>paralyzing triad</slot11>
                <slot12>occultation</slot12>
                <slot13>empty thrash</slot13>
                <slot14>magic fruit</slot14>
                <slot15>heavy strike</slot15>
                <slot16>dream flower</slot16>
                <slot17>sinker drill</slot17>
                <slot18>nat. meditation</slot18>
                <slot19>cocoon</slot19>
                <slot20>zephyr mantle</slot20>
            </belph>
            <default>

            </default>
            <gin>
                <slot01>fantod</slot01>
                <slot02>barbed crescent</slot02>
                <slot03>diamondhide</slot03>
                <slot04>thrashing assault</slot04>
                <slot05>anvil lightning</slot05>
                <slot06>delta thrust</slot06>
                <slot07>erratic flutter</slot07>
                <slot08>molting plumage</slot08>
                <slot09>barrier tusk</slot09>
                <slot10>sudden lunge</slot10>
                <slot11>diffusion ray</slot11>
                <slot12>winds of promy.</slot12>
                <slot13>empty thrash</slot13>
                <slot14>heavy strike</slot14>
                <slot15>white wind</slot15>
                <slot16>sinker drill</slot16>
                <slot17>occultation</slot17>
                <slot18>nat. meditation</slot18>
                <slot19>cocoon</slot19>
            </gin>
            <mab>
                <slot01>delta thrust</slot01>
                <slot02>barbed crescent</slot02>
                <slot03>reactor cool</slot03>
                <slot04>blinding fulgor</slot04>
                <slot05>spectral floe</slot05>
                <slot06>subduction</slot06>
                <slot07>dream flower</slot07>
                <slot08>erratic flutter</slot08>
                <slot09>regurgitation</slot09>
                <slot10>tenebral crush</slot10>
                <slot11>magic hammer</slot11>
                <slot12>entomb</slot12>
                <slot13>retinal glare</slot13>
                <slot14>occultation</slot14>
                <slot15>magic fruit</slot15>
                <slot16>cursed sphere</slot16>
                <slot17>sound blast</slot17>
                <slot18>chaotic eye</slot18>
                <slot19>water bomb</slot19>
                <slot20>final sting</slot20>
            </mab>
            <run>
                <slot01>cocoon</slot01>
                <slot02>blank gaze</slot02>
                <slot03>healing breeze</slot03>
                <slot04>sheep song</slot04>
                <slot05>jettatura</slot05>
                <slot06>geist wall</slot06>
                <slot07>battle dance</slot07>
                <slot08>uppercut</slot08>
                <slot09>grand slam</slot09>
                <slot10>terror touch</slot10>
            </run>
            <stp>
                <slot01>delta thrust</slot01>
                <slot02>barbed crescent</slot02>
                <slot03>thrashing assault</slot03>
                <slot04>heavy strike</slot04>
                <slot05>empty thrash</slot05>
                <slot06>paralyzing triad</slot06>
                <slot07>sinker drill</slot07>
                <slot08>erratic flutter</slot08>
                <slot09>sudden lunge</slot09>
                <slot10>fantod</slot10>
                <slot11>diffusion ray</slot11>
                <slot12>tail slap</slot12>
                <slot13>sickle slash</slot13>
                <slot14>nat. meditation</slot14>
                <slot15>magic fruit</slot15>
                <slot16>cocoon</slot16>
                <slot17>molting plumage</slot17>
                <slot18>anvil lightning</slot18>
                <slot19>occultation</slot19>
            </stp>
            <tenzen>
                <slot01>fantod</slot01>
                <slot02>entomb</slot02>
                <slot03>barbed crescent</slot03>
                <slot04>zephyr mantle</slot04>
                <slot05>anvil lightning</slot05>
                <slot06>sudden lunge</slot06>
                <slot07>molting plumage</slot07>
                <slot08>diffusion ray</slot08>
                <slot09>paralyzing triad</slot09>
                <slot10>glutinous dart</slot10>
                <slot11>silent storm</slot11>
                <slot12>delta thrust</slot12>
                <slot13>erratic flutter</slot13>
                <slot14>dream flower</slot14>
                <slot15>cocoon</slot15>
                <slot16>sinker drill</slot16>
                <slot17>nat. meditation</slot17>
                <slot18>occultation</slot18>
            </tenzen>
            <vw1>
                <slot01>Firespit</slot01>
                <slot02>Heat Breath</slot02>
                <slot03>Thermal Pulse</slot03>
                <slot04>Blastbomb</slot04>
                <slot05>Infrasonics</slot05>
                <slot06>Frost Breath</slot06>
                <slot07>Ice Break</slot07>
                <slot08>Cold Wave</slot08>
                <slot09>Sandspin</slot09>
                <slot10>Magnetite Cloud</slot10>
                <slot11>Cimicine Discharge</slot11>
                <slot12>Bad Breath</slot12>
                <slot13>Acrid Stream</slot13>
                <slot14>Maelstrom</slot14>
                <slot15>Corrosive Ooze</slot15>
                <slot16>Cursed Sphere</slot16>
                <slot17>Awful Eye</slot17>
            </vw1>
            <vw2>
                <slot01>Hecatomb Wave</slot01>
                <slot02>Mysterious Light</slot02>
                <slot03>Leafstorm</slot03>
                <slot04>Reaving Wind</slot04>
                <slot05>Temporal Shift</slot05>
                <slot06>Mind Blast</slot06>
                <slot07>Blitzstrahl</slot07>
                <slot08>Charged Whisker</slot08>
                <slot09>Blank Gaze</slot09>
                <slot10>Radiant Breath</slot10>
                <slot11>Light of Penance</slot11>
                <slot12>Actinic Burst</slot12>
                <slot13>Death Ray</slot13>
                <slot14>Eyes On Me</slot14>
                <slot15>Sandspray</slot15>
            </vw2>
        </spellsets>
    </global>
</settings>
